name: Continuous Integration
on:
  push:
  pull_request:
jobs:
  build-and-test:
    name: Build & Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v18
        with:
          extra_nix_config: |
            keep-derivations = true
            keep-outputs = true
      - run: |
          CGO_ENABLED=0 \
            LDFLAGS="-w -s -X github.com/rwx-research/mint-cli/cmd/mint/config.Version=testing-$(git rev-parse HEAD)" \
            nix develop --command mage build test

  unstable-release:
    if: ${{ github.ref == 'refs/heads/main' }}
    uses: ./.github/workflows/release.yaml
    needs: build-and-test
    with:
      sha: ${{ github.sha }}
      kind: unstable
      version:
    secrets: inherit

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v18
        with:
          extra_nix_config: |
            keep-derivations = true
            keep-outputs = true
      - run: nix develop --command mage lint
      - run: nix fmt -- --check flake.nix
      - name: Lint github workflows
        run: |
          echo "::add-matcher::.github/actionlint-matcher.json"
          bash <(curl https://raw.githubusercontent.com/rhysd/actionlint/3a2f2c755b6442ec7999b28dfd107e1bb9853389/scripts/download-actionlint.bash)
          ./actionlint -color
        shell: bash

  tidy:
    name: go mod tidy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v18
        with:
          extra_nix_config: |
            keep-derivations = true
            keep-outputs = true
      - run: nix develop --command go mod tidy
      - run: git diff-index --quiet HEAD
